# The Things Stack / The Things Network
TTS_MQTT_HOST=eu1.cloud.thethings.network
TTS_MQTT_PORT=8883
TTS_MQTT_USERNAME=bicycleobu@ttn
TTS_APPLICATION_UID=bicycleobu@ttn
TTS_MQTT_PASSWORD=replace-with-tts-application-api-key
LORAWAN_DEVICE_ID=bicycleobu
LORAWAN_FRAME_FPORT=10
LORAWAN_REASSEMBLY_TIMEOUT_S=600

# OpenTrafficMap
OTM_MQTT_HOST=cits1.opentrafficmap.org
OTM_MQTT_PORT=8883
OTM_NODE_ID=bicycleobu-70b3d57ed0078c82
OTM_VERSION=MainboardOBU-prototype/lorawan-otm-bridge
OTM_HW_VARIANT=xiao-esp32s3+wio-sx1262
# OTM_EMAC=

LOG_LEVEL=INFO
